*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


body {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.2rem;
	min-height: 100%;
	color: #2d3436;
}

html {
	height: 100%;
}

.grid_container{
	display: grid;
	gap: 10px;
	grid-template-areas: 
	"header"
	"main"
	"sidebar"
	"footer";
}

.header {
	grid-area: header;
}
.header img {
	width: 100px;
	height: 100px;
	float: left;
	display: inherit;
	margin: 8px;
}

.header h1 {
	float: right;
	margin: 35px;
	margin-right: 20px;
	font-size: 2rem;
	color: #c94231;
}

.main {
	grid-area: main;
}

.main {
	border-radius: 5px;
	border: 2px solid #c94231;
	margin-left: 10px;
} 

.main p{
	font-size: 0.9rem;
	text-align: justify;
	padding: 10px;
} 

.main h1{
	padding: 10px;
} 

.main img{
	width: 60%;
	height: 40%;
	margin-left: 120px;
} 


.sidebar {
	color: white;
	grid-area: sidebar;
	background-color: #c94231;
	border-radius: 5px;
	text-align: center;
	font-size: 1rem;
	margin-right: 10px;
	padding: 10px;
	padding-bottom: 0px;
}

.sidebar h1 {
	font-size: 2rem;
}

.footer {
	grid-area: footer;
	border-top: 1px solid #c94231;
}

footer a { 
	display: inline-block; 
	color: #2d3436;
	padding: 10px;
	font-size: 1rem;
	text-decoration: none;

}

.micrositio {
	color: #2d3436;
	float: right;
}




@media (max-width: 1400px) {
	.grid_container {

		grid-template:
		"header header header" 110px
		"main sidebar sidebar" auto
		"footer footer footer" 50px /
		650px auto 200px;
	}

@media (max-width: 900px) {
	.grid_container {

		grid-template:
		"header header header" 110px
		"main sidebar sidebar" auto
		"footer footer footer" 50px /
		500px auto 200px;
	}	

@media (max-width: 768px) {
	.grid_container {
		/*grid-template-columns: 200px auto;
		grid-template-rows: 100px 50px auto 100px;
		grid-template-areas: 
		"header header"
		"navbar navbar"
		"sidebar main"
		"footer footer";*/

		grid-template:
		"header " 110px
		"main " auto
		"sidebar" auto
		"footer " 50px /
		100%  ;
	}

.header h1 {
	text-align: center;
	margin-top: 50px;
	margin-right: 30px;
	font-size: 1rem;
}

.casilla {
	width: 400px;
}

.area {
	width: 400px;
}

}
footer a { 
	font-size: 0.75rem;

}


.sidebar {
	font-size: 0.75rem;
	margin-right: 10px;
	margin-left: 10px;
	padding: 10px;
	}

}

@media (max-width: 414px) {
	.grid_container {

		grid-template:
		"header " 110px
		"main " auto
		"sidebar" auto
		"footer " 60px /
		100%;
	}


	.header h1 {
	text-align: center;
	margin-top: 50px;
	margin-right: 14px;
	font-size: 0.669rem;

}

.casilla {
	width: 300px;
}

.area {
	width: 300px;
}

.sidebar {
	margin-right: 10px;
	margin-left: 10px;
	padding: 10px;
	}

}